<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h3>Witaj w aplikacji do nauki słówek na kartkówki z angielskiego</h3>
	<a th:href="@{/q(year=3,chapter=1)}">Rok 3. rodział 1.</a><br />
	<a th:href="@{/q(year=3,chapter=2)}">Rok 3. rodział 2.</a><br />
	<a th:href="@{/q}">Wszystkie</a><br />
	<a th:href="@{/list}">Lista słówek</a><br />
	<a th:href=@{/alphabeticalList}>Lista słówek posortowana alfabetycznie</a>
</body>
</html>