<html>
<body>
	<form action="#" th:action="@{/q}" th:object="${question}" method="post">
		<input type="hidden" th:field="*{polish}" />
		<input type="hidden" name="year" th:value="${year}" />
		<input type="hidden" name="chapter" th:value="${chapter}" />
		<table>
			<tr>
				<td th:text="*{polish} + ': '" />
				<td><input type="text" autocomplete="off" th:field="*{english}" /></td>
			</tr>
			<tr>
				<td><button type="submit">Sprawdź</button>
			</tr>
		</table>
		
	</form>
</body>
</html>