<html>
<body>
	<p th:text="${ok}" />
	<p th:text="'Po polsku: ' + ${polish}" />
	<p th:text="'Twoje tłumaczenie: ' + ${your}" />
	<p th:text="'Poprawne tłumaczenie: ' + ${correct}" />
	<a th:href="@{/q(year=${year},chapter=${chapter})}">Następne pytanie!</a><br />
	<a th:href="@{/}">Wróć</a>
</body>
</html>